  /*code by Karla Amo*/
  body { 
    margin: 0;
    height: 100%;
    overflow-y: scroll;
    font-family: 'Calibri', sans-serif;
    perspective: 1px;
    transform-style: preserve-3d;
  }
  /*container*/
.container {
    max-width: 1200px;
    text-align: center;
    margin: 0 auto;
    padding: 0 3rem;
  }
  
  @media screen and (max-width: 580px) {
    .container {
          padding: 0 2rem;
    }
  }

/*navigation*/
.navbar{
  position:fixed;
  width:100%;
  background-color:white;
  z-index:10;
  border-radius:0;
  border-color:transparent;
}
.navbar-default .navbar-nav > li > a{
  color: black;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 3px;
}
.navbar-brand{
  color: black;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 3px;
}

/*payment*/
  #payment{
    background: #ffff;
    padding: 8rem 0;
  }
  #payment h1{
    color: #191919;
    font-size: 50px;
    text-align: left;
    margin-bottom: 50px;
    font-weight: bold;
    letter-spacing: 7px;
    text-transform: uppercase;
  }
  #payment p{
    color: #191919;
    font-size: 25px;
    font-weight:small;
    letter-spacing: 2px;
    margin: 5px;
  }

  .payment-terms{
      font-size: 10px;
      margin-top: 30px;
      text-align: left;
      grid-template-columns: 75% 25%;
      display: grid;
  }
  .payment-content {
    display: grid;
    margin-top: 25px;
    grid-template-columns: 50% 50%;
    text-align: left;
  }
  @media screen and (max-width: 580px) {
    .payment-content {
          display: grid;
          grid-gap: 20px;
          grid-template-columns: 50% 50%;
          text-align: left;
    }
  }  
  b{
      color:#5E33D1;
  }

/*credit*/
.payment-credit {
    margin-top: 25px;
    text-align: left;
  }

  .payment-credit label{
    font-size: 15px;
}
  .payment-credit form, .payment-billing form{
      margin-top: 20px;
  }

  .payment-credit input[type=text]:focus{
    border-color: #5E33D1;
    outline: none !important;
    box-shadow: 0 0 10px #5E33D1;
  }
  /*billing*/
  #payment-billing input[type=text]
  {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-bottom: 1px solid #2F1FE9;
    border-radius: 4px;
    box-sizing: border-box;
  }
  .payment-billing input[type=text]:focus{
    border-color: #5E33D1;
    outline: none !important;
    box-shadow: 0 0 10px #5E33D1;
  }
  .payment-billing {
    margin-top: 25px;
    text-align: left;
  }
  .payment-billing label{
      font-size: 15px;
  }

  /*download button*/

  .button{
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;

    margin: 18px 0;
    padding: 20px 40px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .download-button{
    background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
    color: white;
    border-radius: 35px;
    font-weight: bold;
    padding: 20px 60px;
    border: none;
    font-size: 16px;
    margin-top: 10px;
  }
  .download-button:hover{
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }

  .download-button:hover.download{
    background-image: linear-gradient(to right, #fc6076, #ff9a44, #ef9d43, #e75516);
    box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
  
  }

  /*radio buttons */
  .radio-buttons{
      float: left;
  }
  label{
      float: left;
      display: block;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 20px;
      margin-right: 20px;
  }
  .input[type=radio],
  input.basic-radio, input.advanced-radio, input.pro-radio{
      float: left;
      margin: .6em;

  }
  .basic{
      color:#D34848
  }

  .advanced{
    color:#FFB33F
  }

  .pro{
      color:#1FE1E9;
  }

  /*footer section*/
  #footer{
    background: #5E33D1;
    padding: 4rem 0;
    letter-spacing: 3px;
  
  }
  #footer h2{
    color: white;
    font-size: 42px;
    
  }
  .footer-mail {
    font-size: 20px;
    text-align: left;
    padding-bottom: 1em;
  }
  #footer a{
    color: white;
  }
  .product-name{
    color:white;
    text-align: center;
    font-size: 40px;
  }
  .copyright{
    font-size: 20px;
    text-align: center;
    color: white;
  }
  ion-icon{
    margin-right: 5px;
  }

    /*code by Karla Amo*/